@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
}

.link{
  flex: 1;
  display: flex;
  justify-content: center;
  transition: none;
  transform: scale(1);
}

.navLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.navLink{
  margin: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  padding: 0.5rem;
  transition: none;
  transform: scale(1);
  border-bottom: 1px solid #fff ;
}

a:hover {
  border-bottom: 1px solid #495E57;
  color: #495E57;
}